nav.FLF-1 {
    color: rgba(255,255,255,0.7);
}

nav.FLF-1 .nav-wrapper div{
    display:flex;
    justify-content: flex-end;
}

//-- Actions menu
nav.FLF-1 .nav-wrapper div:first-child:hover{
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}

nav.FLF-1 .nav-wrapper div:first-child>a {
    color: rgba(255,255,255,0.7);
}

//-- Star icon
nav.FLF-1 .nav-wrapper div:nth-of-type(2) i{
    color: #26a69a;
}

//-- list icon
nav.FLF-1 .nav-wrapper div:nth-of-type(3){
    display: flex;
    justify-content: center;

    button{
        display:flex;
        justify-content: center;
        height: 100%;
    }

    i:first-child{
        color: rgba(255,255,255,0.7);
        font-size: 2.5rem;
    }

    i:last-child{
        bottom: 1.2rem;
        color: color('teal', 'lighten-2');
        font-size: 1rem;
        position: relative;
        width: 1rem;
        @media screen and (min-width: $small-screen-up){
            right: 0.5rem;
        }
    }
}

nav.FLF-1 .nav-wrapper i{
    margin-right: 0.5rem;
}

.dropdown-content li > a > i {
    margin-right: 0.5rem;
}