.ReactModalPortal>div {
    opacity: 0;
  }
  
.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal-1 {
  background: color("grey", "lighten-3");
  color: color("materialize-red", "lighten-2");
  height: auto;
  outline: none;
  padding: 0;
  text-align: left;
  width: 90vw;
  font-size: $s-size;
  @media screen and (min-width: $small-screen-up){
    width: 75vw;
    font-size: 1.4rem;
  };
  @media screen and (min-width: $medium-screen-up){
    width: 60vw;
    font-size: $m-size;
  };
  @media screen and (min-width: $large-screen-up){
    width: 50vw;
  };
}

.modal-1 .modal_caption{
  display:flex;
  justify-content: space-between;
}

.modal-1 .modal_caption button{
  margin: 0.6rem 0.6rem 0.6rem 0;
}

.modal-1 .modal_caption > div {
  text-transform: uppercase;
}
