// .carousel{
//     height: 119px !important;
//     padding: 18px 0;
//     margin: 18px 0;
// }

// .carousel.carousel-slider .carousel-item {
//     top: 150px;
// }

.slick-list{
    margin-top: $m-size;
    padding-top: 11px;
    padding-bottom: 8px;
    margin-bottom: $m-size;
}