.ReactModalPortal>div {
    opacity: 0;
  }
  
.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal-2 {
    background: color("materialize-red", "lighten-2");
    color: #fff;
    font-size: 2rem;
    min-width: 80rem;
    height: 20rem;
    outline: none;
    padding: $xl-size $l-size $l-size $l-size;
}

.modal-2 .modal_caption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.modal-2 .modal_caption div:last-child {
    width: 50%;
    display:flex;
    justify-content: space-around;
    text-transform: uppercase;
}

.modal-2 .modal_caption button{
    margin: 0.6rem 0.6rem 0.6rem 0;
    width: 33.33%;
}