.search-bar-row{
    margin:0 !important;
}
.search-bar-row .search-bar{
    margin-top: $m-size;
    padding-right: 0;
}

.search-bar-row button{
    margin-top: $s-size;
}

.search-bar-row .btn>i{
    font-size: $m-size;
}
