.sidenav .user-view{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    img{
        align-self: center;
    }
}

.sidenav li.sidenav__subheader{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    i{
        color: color("materialize-red", "lighten-2");
        cursor: pointer;
    }
}
.sidenav li.sidenav__list-item{
    align-items: center;
    display: flex;
    justify-content: space-between;

    a{
        width: 100%
    }
    
    i{
        color: color("teal", "lighten-2");
    }
}

