.pubDate{
    font-size: $s-size;
}

.card-panel > .row:first-child{
    margin-bottom: 0;
}
.views{
    font-size: $s-size;
}

.title{
    font-size: $m-size;
    font-weight:bold;
    padding: $s-size 0;
}

.description{
    font-size: 1.4rem;
}

.starBorder{
    color: #26a69a;
}