.VD-1 .pubDate{
    font-size: $s-size;
}

.VD-1.card-panel > .row:first-child{
    margin-bottom: 0;
}
.VD-1 .views{
    font-size: $s-size;
}

.VD-1 ul.collapsible{
    box-shadow: none;
    border: 0;
}
.VD-1 .title{
    font-size: 1.4rem;
    font-weight:bold;
    padding: $s-size 0;
    @media screen and (min-width: $medium-screen-up){
        font-size: 1.6rem;
    }   
}

.VD-1 .collapsible-header {
    display: flex;
    justify-content: space-between;
    background-color:inherit;
    border-bottom: 0;
}

.VD-1 .collapsible-header button{
    @media screen and (min-width: $medium-screen-up){
        display:none
    }
}
.VD-1 .collapsible-header i{
    margin-right: 0;

  }
.VD-1 .description.collapsible-body{
    font-size: 1.2rem;
    padding: 0;
    border-bottom: 0;
    @media screen and (min-width: $medium-screen-up){
        display: inline;
        font-size: 1.4rem;
    }
}

.VD-1 .pubDate a{
    text-decoration: none;
    cursor:pointer;
    color: color('teal', 'lighten-1')
}

.VD-1 .pubDate a:hover{
    color: color("teal", "lighten-3");
}

.VD-1 .pubDate a:visited{
    color: color("materialize-red", "lighten-3");
}

.VD-1 .starBorder{
    color: #26a69a;
}