.VL-1 .btn-small i, .btn-flat i.material-icons {
    font-size: $m-size;
}

.VL-1 .list-nav {
    margin: 0;
}

.VL-1 .list-nav i span{
    display: inline;
    @media screen and (min-width: $small-screen-up) {
        display: none;
    }
    @media screen and (min-width: $medium-screen-up) {
        display: inline;
    }
}
.VL-1 .list-nav button{
    display: flex;
    justify-content: center;
}

.VL-1 div.row{
    margin-bottom: 0;
    
    & > div:first-child{
        margin-bottom: 0.5rem;
    }  
}
