.VL-1 .btn-small i, .btn-flat i.material-icons {
    font-size: $m-size;
}

.VL-1 .list-nav {
    margin: 0;
}

.VL-1 .list-nav i span{
    display: inline;
    @media screen and (min-width: $small-screen-up) {
        display: none;
    }
    @media screen and (min-width: $medium-screen-up) {
        display: inline;
    }
}

.VL-1 div.row:nth-of-type(1),
.VL-1 div.row:nth-of-type(2){
    margin-bottom: 0;
    
}