.VLI-1 .list-items{
    font-size: $s-size;
}

.VLI-1 .list-title{
    font-weight: bold;
}

.VLI-1 .list-spacing{
    margin-bottom: 0;
}

.collection .collection-item.avatar{
    cursor:pointer;
    padding-left: $s-size;
}

.VLI-1 .list-items a{
    text-decoration: none;
    cursor:pointer;
    color: color('teal', 'lighten-1');
    &:hover{
        color: color('teal', 'lighten-3');
    }
    &:visited{
        color: color("materialize-red", "lighten-3");
    }
}

.VLI-1 {
    transition: background-color .3s ease;
    &:hover{
        background-color: #f7f7f7
    }
}